[user]

    name = Sergio Kopplin
    email = sergiokopplin@gmail.com

[alias]

    a = add .
    c = commit -m
    ca = commit -am
    co = checkout
    st = status
    br = branch

[core]

    excludesfile = ~/.gitignore
    attributesfile = ~/.gitattributes
    editor = atom
