.dropbox

# Jekyll    taken from: https://github.com/github/gitignore/blob/master/Jekyll.gitignore
_site/
.sass-cache/
.jekyll-metadata

# OSX       taken from: https://github.com/github/gitignore/blob/master/Global/OSX.gitignore
.DS_Store
.AppleDouble
.LSOverride

# Windows   taken from: https://github.com/github/gitignore/blob/master/Global/Windows.gitignore
Desktop.ini
ehthumbs.db
Thumbs.db

# Sass
*.sass-cache
.sass-cache
*.css.map

# Dependency directory
node_modules
